* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    border: 1px solid black;
    display: block;
}

#Disp {
    background-color: black;
    display: flex;
    gap: 10px;
}

#scoreDisp {
    font-size: 25px;
    color: white;
}

#levelDisp {
    font-size: 25px;
    color: #ffffff;
}

